body {
	font-family: 'Roboto Condensed', sans-serif;
    background-color: #390075;
    -webkit-font-smoothing: antialiased;
    margin: -5px;
}

/*#canvas {
	width: 500px;
}*/

/*#sourceText{
	width: 500px;
	height: 50px;
	padding: 0;
}
*/

.blinking-cursor {
  position: relative;
  left: 18vw;
  font-weight: 100;
  font-size: 60px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: 0;
  }
  50% {
    color: white;
    text-shadow: 0 0 20px black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
    text-shadow: 0;
  }
  50% {
    color: white;
    text-shadow: 0 0 20px black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: 0;
  }
  50% {
    color: white;
    text-shadow: 0 0 20px black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: 0;
  }
  50% {
    color: white;
    text-shadow: 0 0 20px black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: 0;
  }
  50% {
    color: white;
    text-shadow: 0 0 20px black;
  }
}

#user-msg{
    width: 471px;
    height: 67px;
    border: 0;
	padding: 0;
	display: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);

}

#user-input-container {
    position: relative;
    bottom: 252px;
}

#upload-img {
    display: none;
    margin-top: 14%;
    width: 
}

#imageLoader {
	width: 300px;
	height: 50px;
	position: absolute;
	top: 15%;
	left: 44%;
	padding: 10px;
}



input[type="file"] {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    color: transparent;
    display: none;
}

input:focus{
    outline: none;
}

#file-upload, 
#submit-button-box, 
#submit-msg, 
#white-text-msg,
#download,
#finished,
.social {
    background-color: rgba(76,175,80,0.5);
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    margin-top: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    display: none;
}

#file-upload, 
#submit-button-box, 
#submit-msg, 
#white-text-msg,
#download,
#finished,
.social:hover {
    background-color: rgb(57, 162, 62);
    cursor: pointer;
} 

#submit-button-box {
    width: 16%;
    margin: 0 auto;
    margin-top: 36px;
}


.custom-file-upload {
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 6px;
    padding: 2%;
    height: 30%;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: 34vh;
}

.custom-file-upload:hover {
	background-color: #c0c0c0;
}

.logo-header{
    width: 64vw;
    position: relative;
    top: 75px;
}

#top-header {
    position: absolute;
    top: 73px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    width: 100vw;
    background-color: #390075;
}


.countdown {
	color: #c0c0c0;
	display: none;
}

#change_color {
	display: none;
}

#upload-img {
    display: none;
    margin-top: 7vw;
}

#all-container {
    text-align: center;
}


@media (max-width: 500px) {
    #all-container {
        /*transform: scale(0.80,0.80);*/
    }
    #upload-img {
        margin-left: 2%;
        margin-top: 18%;
        width: 100vw;
    }
    #demo-basic {
        margin: -71px;
        /*transform: scale(0.89,0.89);*/
    }
    .logo-header {
        max-width: 89%;
    }
}

.itm1 {
    height: 33.33vw;
    margin: -2px;
    opacity: 0.91;

}


.msrItems {
    margin: 0 auto;
    max-width: 100vw;
}

#header-social-media {
    background-color: #4D0E8F;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 99;
    height: 11vh;
}

#header-social-media h2 {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 22px;
    color: #7C3AC2;
    padding-right: 12px;
}

#header-social-media ul {
    display: inline-block;
    padding: 0;
    float: right;
    padding-right: 15px;
}

ul li {
    display: inline;
}

.social-links {
    max-width: 38px;
}

.learn-more{
    float: left;
}

.follow {
    float: right;
}

.dnp-header-logo {
    max-width: 300px;
    position: relative;
    top: 22px;
    left: 278px;
}

/* Image FadeIn */
.itm1 {
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Moema */
.button--moema {
    padding: 1.5em 3em;
    border-radius: 50px;
    background: rgb(43, 0, 88);
    border: 1px solid #240149;;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}
.button--moema.button--inverted {
    background: #ECEFF1;
    color: #37474f;
}
.button--moema::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background: inherit;
    border-radius: 50px;
    z-index: -1;
    opacity: 0.4;
    -webkit-transform: scale3d(0.8, 0.5, 1);
    transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    color: #ECEFF1;
    background-color: #1A0135;
    -webkit-animation: anim-moema-1 0.3s forwards;
    animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
    color: #ECEFF1;
    background-color: rgb(43, 0, 48);
}
.button--moema:hover::before {
    -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
    animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bottom-container {
    margin-top: 200px;
}

.icofont {
    padding-right: 20px;
}

.twitter-share {
    background-color: rgba(0, 172, 237, 0.8);;
}

.twitter-share:hover {
    background-color: rgba(0, 172, 237, 1);
    cursor: hover;
}

