body {
	font-family: 'Roboto Condensed', sans-serif;
    background-color: #390075;
}

/*#canvas {
	width: 500px;
}*/

/*#sourceText{
	width: 500px;
	height: 50px;
	padding: 0;
}
*/
#user-msg{
	width: 500px;
	height: 50px;
	padding: 0;
	display: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);

}


#upload-img {
    display: none;
    margin-top: 14%;
    width: 
}

#imageLoader {
	width: 300px;
	height: 50px;
	position: absolute;
	top: 15%;
	left: 44%;
	padding: 10px;
}



input[type="file"] {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    color: transparent;
    display: none;
}

input:focus{
    outline: none;
}

#file-upload, 
#submit-button-box, 
#submit-msg, 
#white-text-msg,
#download,
#finished,
.social {
    background-color: rgba(76,175,80,0.8);
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    margin-top: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    display: none;
}

#file-upload, 
#submit-button-box, 
#submit-msg, 
#white-text-msg,
#download,
#finished,
.social:hover {
    background-color: rgba(76,175,80,1);
} 

#submit-button-box {
    width: 73%;
    margin: 0 auto;
    margin-top: 36px;
    background-color: white;
    color: black;
}

#submit-button-box:hover {
    background-color: 
}

.custom-file-upload {
    border: 2px solid #fff;
    display: inline-block;
    padding: 7%;
    height: 30%;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: 28vh;
    left: 22vw;
}

.custom-file-upload:hover {
	background-color: #c0c0c0;
}

.logo-header{
	width: 367px;
}

#top-header {
    position: absolute;
    top: 0;
    text-align: center;
    margin: 0 auto;
    left: 0;
    width: 100vw;
    background-color: #390075;
}


.countdown {
	color: #c0c0c0;
	display: none;
}

#change_color {
	display: none;
}

#upload-img {
    display: none;
    margin-top: 14%;
    width: 
}


@media (max-width: 500px) {
    #all-container {
        /*transform: scale(0.80,0.80);*/
    }
    #upload-img {
        margin-left: 2%;
        margin-top: 18%;
        width: 100vw;
    }
    #demo-basic {
        margin: -71px;
        /*transform: scale(0.89,0.89);*/
    }
    .logo-header {
        max-width: 89%;
    }
}

