body {
	font-family: 'Roboto Condensed', sans-serif;
    background-color: #390075;
}

/*#canvas {
	width: 500px;
}*/

/*#sourceText{
	width: 500px;
	height: 50px;
	padding: 0;
}
*/
#user-msg{
    width: 90vw;
    position: relative;
    top: 15vw;
    right: 5vh;
	height: 50px;
	padding: 0;
    margin-left: 22px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    background-color: rgba(0, 0, 0, 0);
/*    color: rgba(0, 0, 0, 0);*/

}



#upload-img {
    /*display: none;*/
    margin-top: 14%;
    /*margin-left: 32%;*/
}

#imageLoader {
	width: 300px;
	height: 50px;
	position: absolute;
	top: 15%;
	left: 44%;
	padding: 10px;
}



input[type="file"] {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    color: transparent;
    /*display: none;*/
}

input:focus{
    outline: none;
}

#file-upload, 
#submit-button-box, 
#submit-msg, 
#white-text-msg,
#download,
#finished,
.social {
    background-color: rgba(76,175,80,0.8);
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    margin-top: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    display: none;
}

#file-upload, 
#submit-button-box, 
#submit-msg, 
#white-text-msg,
#download,
#finished,
.social:hover {
    background-color: rgba(76,175,80,1);
} 

#submit-button-box {
    width: 300px;
    margin: 0 auto;
    margin-top: 36px;
}

.custom-file-upload {
    border: 2px solid #fff;
    display: inline-block;
    padding: 7%;
    height-t: 30%;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: 28vh;
    left: 22vw;
}

.custom-file-upload:hover {
	background-color: #c0c0c0;
}

.logo-header{
	width: 367px;
}

#top-header {
    position: absolute;
    top: 0;
    text-align: center;
    margin: 0 auto;
    left: 0;
    width: 100vw;
    background-color: #390075;
}


.countdown {
	color: #c0c0c0;
	display: none;
}

#user-input-container{
	text-align: center;
    margin-left: 21px;
}

#change_color {
	display: none;
}


